In [3]:
import pandas as pd
from sklearn.cluster import DBSCAN
import numpy as np

import os, sys
import platform
parent_path = os.path.abspath('.')
sys.path.append(parent_path)
parent_path = os.path.abspath('../')
sys.path.append(parent_path)
parent_path = os.path.abspath('../../')
sys.path.append(parent_path)
parent_path = os.path.abspath('../../../')
sys.path.append(parent_path)
print(sys.path)

['/home/qiu/anaconda3/envs/sisi/lib/python311.zip', '/home/qiu/anaconda3/envs/sisi/lib/python3.11', '/home/qiu/anaconda3/envs/sisi/lib/python3.11/lib-dynload', '', '/home/qiu/anaconda3/envs/sisi/lib/python3.11/site-packages', '/mnt/d/IdeaProjects/SISI/core/ShoreNet/notebooks', '/mnt/d/IdeaProjects/SISI/core/ShoreNet', '/mnt/d/IdeaProjects/SISI/core', '/mnt/d/IdeaProjects/SISI', '/mnt/d/IdeaProjects/SISI/core/ShoreNet/notebooks', '/mnt/d/IdeaProjects/SISI/core/ShoreNet', '/mnt/d/IdeaProjects/SISI/core', '/mnt/d/IdeaProjects/SISI']

# export dbscan cluster polygons

In [9]:
from sqlalchemy.orm import sessionmaker
from sqlalchemy import func, or_

import re

from core.conf import mysql_engine
from core.ShoreNet.utils.db.DimDockPolygon import DimDockPolygon

print(mysql_engine)

Session = sessionmaker(bind=mysql_engine)
session = Session()
polygons = session.query(
    DimDockPolygon.Id,
    DimDockPolygon.Name,
    func.ST_AsText(DimDockPolygon.Polygon).label('Polygon'),
    DimDockPolygon.lng, DimDockPolygon.lat, DimDockPolygon.Province, DimDockPolygon.Distruct
).filter(
    DimDockPolygon.type_id == 6
).filter(
    or_(DimDockPolygon.stage_id == 5, DimDockPolygon.stage_id == None)
).order_by(
    DimDockPolygon.Id
).all()

dock_polygon_list = []
for polygon in polygons:
    wkt_polygon = polygon.Polygon
    pattern = re.compile(r'\d+\.\d+\s\d+\.\d+')
    matches = pattern.findall(wkt_polygon)
    coordinates = [[float(coord) for coord in match.split()] for match in matches]
    dock_polygon_list.append(
        {
            'dock_id': polygon.Id, 'name': polygon.Name, 'province': polygon.Province, 
            'Distruct': polygon.Distruct, 'polygon': coordinates
        }
    )
print(f"Dock polygon count: {len(dock_polygon_list)}")
session.close()

dbscan_polygon_df = pd.DataFrame(dock_polygon_list)
dbscan_polygon_df.head()

dbscan_polygon_df.to_csv("/mnt/d/data/sisi/dock/dbscan_hull_polygon.csv", index=False, encoding='utf-8-sig')

Engine(mysql+pymysql://root:***@172.30.250.57/sisi?charset=utf8)
Dock polygon count: 1410

In [8]:
os_name = platform.system()
if os.name == 'nt' or os_name == 'Windows':
    data_path = r"D:/data/sisi/"
elif os.name == 'posix' or os_name == 'Linux':
    data_path = r"/mnt/d/data/sisi/"
else:
    data_path = r"/mnt/d/data/sisi/"
        
stage_id = 6

import glob
import os

print(os.path.join(data_path + f"extensive_coal_events/stage_{stage_id}/**"))
extensive_event_files = glob.glob(os.path.join(data_path + f"extensive_coal_events/stage_{stage_id}/**"))
print(extensive_event_files)

extensive_event_df_list = []

for fn in extensive_event_files:
    df = pd.read_csv(fn)
    extensive_event_df_list.append(df)
combined_df = pd.concat(extensive_event_df_list, ignore_index=True)
# combined_df = combined_df.loc[(combined_df['Begin_lon'] > 105.5) & (combined_df['Begin_lon'] < 126) & 
#                               (combined_df['Begin_lat'] > 28.4) & (combined_df['Begin_lat'] < 41.6) &
#                               (combined_df['avgSpeed'] < 1.4)]
combined_df = combined_df.loc[(combined_df['lng'] > 105.5) & (combined_df['lng'] < 126) & 
                              (combined_df['lat'] > 18) & (combined_df['lat'] < 41.6) &
                              (combined_df['avgSpeed'] < 1.4)]
combined_df.loc[:, 'mmsi'] = combined_df['mmsi'].astype(int)
# load coal mmsi list
import json
with open('./coal_mmsi.json', 'r') as f:
    coal_mmsi_dict = json.load(f)
coal_mmsi_list = [int(mmsi) for mmsi in coal_mmsi_dict['mmsi']]

combined_df = combined_df.loc[combined_df['mmsi'].isin(coal_mmsi_list)]
print(combined_df.shape)
combined_df.head()

/mnt/d/data/sisi/extensive_coal_events/stage_6/**
['/mnt/d/data/sisi/extensive_coal_events/stage_6/202301.csv', '/mnt/d/data/sisi/extensive_coal_events/stage_6/202302.csv', '/mnt/d/data/sisi/extensive_coal_events/stage_6/202303.csv', '/mnt/d/data/sisi/extensive_coal_events/stage_6/202304.csv', '/mnt/d/data/sisi/extensive_coal_events/stage_6/202305.csv', '/mnt/d/data/sisi/extensive_coal_events/stage_6/202306.csv', '/mnt/d/data/sisi/extensive_coal_events/stage_6/202307.csv', '/mnt/d/data/sisi/extensive_coal_events/stage_6/202308.csv', '/mnt/d/data/sisi/extensive_coal_events/stage_6/202309.csv', '/mnt/d/data/sisi/extensive_coal_events/stage_6/202310.csv', '/mnt/d/data/sisi/extensive_coal_events/stage_6/202311.csv', '/mnt/d/data/sisi/extensive_coal_events/stage_6/202312.csv', '/mnt/d/data/sisi/extensive_coal_events/stage_6/2023_events_with_polygon_6.csv']
(773279, 10)

,mmsi,Begin_time,End_time,lng,lat,Point_num,avgSpeed,Event_categories,coal_dock_id,stage_id
264,100003033.0,1.672532e+09,1.672611e+09,119.507896,35.334499,785.0,0.873476,low_speed_event,NaN,6
265,100003033.0,1.672625e+09,1.672625e+09,119.603897,35.292900,2.0,0.900940,low_speed_event,NaN,6
266,100003033.0,1.672638e+09,1.672639e+09,119.590363,35.304661,2.0,0.491832,low_speed_event,NaN,6
267,100003106.0,1.673136e+09,1.673160e+09,119.956397,35.139702,65.0,0.000000,low_speed_event,NaN,6
268,100003106.0,1.673172e+09,1.673468e+09,119.954803,35.138901,10.0,0.102975,low_speed_event,NaN,6

In [4]:
data_path = r"D:/data/sisi/"
month = '202306'

fields = ['mmsi', 'Begin_time', 'End_time', 'Begin_lon', 'Begin_lat', 'avgSpeed']

sail_df = pd.read_csv(f"{data_path}/log_data/{month}_new_sailingv4.csv", skipinitialspace=True, usecols=fields)
sail_df = sail_df.loc[sail_df['mmsi'] > 100000000]
sail_df.loc[:, 'Begin_lon'] = sail_df['Begin_lon'].multiply(0.000001)
sail_df.loc[:, 'Begin_lat'] = sail_df['Begin_lat'].multiply(0.000001)

# upper china
# sail_df = sail_df.loc[(sail_df['Begin_lon'] > 105.5) & (sail_df['Begin_lon'] < 126) & 
#                       (sail_df['Begin_lat'] > 31) & (sail_df['Begin_lat'] < 41.6) &
#                       (sail_df['avgSpeed'] < 1.4)]

# lat: [35, 41.6]
sail_df = sail_df.loc[(sail_df['Begin_lon'] > 105.5) & (sail_df['Begin_lon'] < 126) & 
                      (sail_df['Begin_lat'] > 35) & (sail_df['Begin_lat'] < 41.6) &
                      (sail_df['avgSpeed'] < 1.4)]

print(sail_df.shape)
sail_df.head()

(141116, 6)

            mmsi  Begin_time    End_time   Begin_lon  Begin_lat  avgSpeed
96564  100000001  1687398600  1687399080  120.234802  40.021400  0.637567
96653  100000010  1687302720  1687303500  120.246048  40.025276  0.359723
96654  100000010  1687321560  1687322250  120.193980  40.001690  0.607216
96655  100000010  1687342800  1687345080  120.265600  40.044835  0.738393
96656  100000010  1687430905  1687433162  120.245781  40.058065  0.636085

In [9]:
# Extract longitude and latitude for clustering
# combined_df = sail_df.copy()
coords = combined_df[['lng', 'lat']].values

# Convert distance to radians
kms_per_radian = 6371.0088
epsilon = 0.1 / kms_per_radian

# DBSCAN clustering
db = DBSCAN(eps=epsilon, min_samples=10, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))

# Add cluster labels to the DataFrame
combined_df['cluster'] = db.labels_

# Save the combined DataFrame with clusters
# combined_df.to_csv('combined_cleaned_data_with_clusters.csv', index=False)

# Display the clustered data
# print(combined_df.head())

# Get cluster statistics
cluster_counts = combined_df['cluster'].value_counts()
print(cluster_counts)
print(cluster_counts.describe())

cluster
-1       165361
 18      157933
 6       104802
 17       21412
 121      19979
          ...
 3352         5
 2305         5
 3408         4
 3043         4
 3503         2
Name: count, Length: 3530, dtype: int64
count      3530.000000
mean        219.059207
std        4297.093013
min           2.000000
25%          12.000000
50%          19.000000
75%          39.000000
max      165361.000000
Name: count, dtype: float64

:

In [7]:
# cluster_id_list = cluster_counts[cluster_counts > 10].index.tolist()
# plot_df = combined_df.loc[(combined_df['cluster'].isin(cluster_id_list)) & (combined_df['cluster']!=-1)]

# clean dbscan result

plot_df_list = []
for cid, cgroup in combined_df.groupby('cluster'):
    if (cgroup.shape[0] > 30) & (cgroup['mmsi'].nunique() > 10) & (cid != -1):
        # A polygon can be considered a dock only if there are more than 5 ships and more than 10 mooring events in a year.
        plot_df_list.append(cgroup)
plot_df = pd.concat(plot_df_list, ignore_index=True)

print(plot_df.shape)
plot_df.head()

(81398, 7)

        mmsi  Begin_time    End_time   Begin_lon  Begin_lat  avgSpeed  cluster
0  100000015  1686355280  1686428820  119.936826  37.411176  0.000000        0
1  100000015  1687085235  1687108769  119.936856  37.411116  0.618089        0
2  100000015  1687605688  1687651151  119.936991  37.411220  1.274184        0
3  100000015  1687651292  1687737531  119.936775  37.411105  0.000000        0
4  100000015  1687737884  1687810979  119.936766  37.410961  0.296889        0

In [ ]:
import plotly.express as px
import plotly.graph_objects as go
from scipy.spatial import ConvexHull
import numpy as np

# Ensure your combined_df DataFrame has the cluster information
# Assuming 'combined_df' is the DataFrame with your data and cluster labels

# plot_df = plot_df.iloc[:1000, :]

# Create a scatter mapbox plot with clusters
fig = px.scatter_mapbox(
    plot_df,
    lat="Begin_lat",
    lon="Begin_lon",
    color="cluster",
    hover_data=["cluster"],
    title="Clusters on Map",
    color_continuous_scale=px.colors.cyclical.IceFire,
    zoom=5,
    height=600
)

# fig = go.Figure()

# Calculate and add the convex hull for each cluster
unique_clusters = plot_df['cluster'].unique()

for cluster in unique_clusters:
    if cluster == -1:  # Skip noise points
        continue
    cluster_points = plot_df[plot_df['cluster'] == cluster][['Begin_lon', 'Begin_lat']].values
    if len(cluster_points) > 2:  # Convex hull requires at least 3 points
        hull = ConvexHull(cluster_points)
        hull_points = np.append(hull.vertices, hull.vertices[0])  # Append the first point to close the hull
        fig.add_trace(go.Scattermapbox(
            lon=cluster_points[hull_points, 0],
            lat=cluster_points[hull_points, 1],
            mode='lines',
            fill='toself',
            fillcolor='rgba(0, 0, 255, 0.1)',  # Semi-transparent fill color
            line=dict(color='blue'),
            name=f'Cluster {cluster} Hull'
        ))

# Set the map style and layout
fig.update_layout(
    mapbox_style="carto-positron",
    mapbox_center={"lat": plot_df["Begin_lat"].mean(), "lon": plot_df["Begin_lon"].mean()},
    margin={"r":0,"t":0,"l":0,"b":0}
)

# fig.update_layout(
#     autosize=True,
#     hovermode='closest',
#     mapbox=dict(
#         accesstoken=mapbox_access_token,
#         center=go.layout.mapbox.Center(
#             lat=plot_df["Begin_lat"].mean(),
#             lon=plot_df["Begin_lon"].mean()
#         ),
#         pitch=0,
#         style="carto-positron"
#     )
# )

# fig.show()

In [6]:
fig.write_html(f"./html/stage_{stage_id}_coal_extensive.html")